<p style="color: green"><%= notice %></p>

<% content_for :title, "Records" %>

<div id="records">
  <% @records.each do |record| %>
    <%= render record %>
<% if Current.user %>
    <p>
      <%= link_to "Show this record", record %>
    </p>
<% end %>

  <% end %>
</div>

<% if Current.user %>
  <%= link_to "New record", new_record_path %>
<% end %>