<p style="color: green"><%= notice %></p>

<% content_for :title, "Records" %>

<div id="records">
<% if authenticated? %>
  <%= link_to "Add new record", new_record_path %>
<% end %>  
  <% @records.each do |record| %>
    <%= render record %>
<% if authenticated? %>
    <p>
      <%= link_to "Edit this record", record %>
    </p>
<% end %>

  <% end %>
</div>